@import "../variable";
@import "../mixin";

body, html {
  line-height: 1.5;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background-color: $color_white;
  color: $color_black;
}

.extend-click {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
  }
}

.shadow-none {
  box-shadow: none !important;
}

.box-sizing {
  box-sizing: border-box;
}
