@import "../variable";

.color-black {
  color: $color-black;
}

.color-white {
  color: $color-white;
}

.color-primary {
  color: $primary-color;
}

.bg-black {
  background-color: $color-black;
}

.bg-white {
  background-color: $color-white;
}

.bg-primary {
  background-color: $primary-color;
}
